*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* COMMON */
.container-fluid {
    margin: 0 10px;
    width: calc(100% - 20px);
}

.row {
    width: 100%;
    display: flex;
    gap: 20px 20px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.col-list {
    width: 25%;
    color: white;
    font-weight: 600;
}

.col-logo{
    width: 30%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.col-33 {
    width: calc(100% / 3 - 20px);
}

/* HEADER */
header{
    background-color: rgb(255, 105, 0);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul{
    list-style: none;
}

li{
    display: inline;
    padding: 4px;
}

.img-logo{
    width: 150px;
}

/* MAIN */
main {
    padding-top: 130px;
}

img {
    width: 100%;
}

.product {
    position: relative;
    width: 100%;
}

.discount {
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 8px;
    color: white;
}

.bg-red {
    background-color: red;
}

.sostenibility{
    position: absolute;
    left: 60px;
    bottom: 20px;
    padding: 8px;
    color: white;
}

.sostenibility-six{
    position: absolute;
    left: 0px;
    bottom: 20px;
    padding: 8px;
    color: white;
}

.bg-green{
    background-color: green;
}

.heart {
    color: black;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: white;
    padding: 10px 20px 10px 20px;
    font-size: 25px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.product:hover .hidden {
    display: block;
}

.product:hover .show {
    display: none;
}

.col-detail{
    text-align: start;
}

.price-red{
    color: red;
    font-weight: 600;
}

.price-barred{
    text-decoration: line-through;
}

/* FOOTER */